@model Autos.Models.VehicleForRent

<div class="text-center wow fadeInUp" data-wow-delay="0.1s">
    <h1 class="section-title text-center text-primary text-uppercase">Update Vehicle</h1>

</div>
<form asp-action="EditVehicleForRent" method="post">

    <div asp-validation-summary="All" class="text-danger"></div>
    <div class="form-group">
        <label asp-for="Type">Type:</label>
        <input asp-for="Type" class="form-control" />
        <span asp-validation-for="Type" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Brand"></label>
        <input asp-for="Brand" class="form-control" />
        <span asp-validation-for="Brand" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Model">Model:</label>
        <input asp-for="Model" class="form-control" />
        <span asp-validation-for="Model" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Year">Year:</label>
        <input asp-for="Year" class="form-control" />
        <span asp-validation-for="Year" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Color">Color:</label>
        <input asp-for="Color" class="form-control" />
        <span asp-validation-for="Color" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="PricePerDay">Price Per Day:</label>
        <input asp-for="PricePerDay" class="form-control" />
        <span asp-validation-for="PricePerDay" class="text-danger"></span>
    </div>
    <button type="submit" class="btn btn-primary">Update Vehicle</button>
</form>
